@import "tailwindcss";

@theme {
  --color-primary: rgb(64 95 144);
  --color-surface-tint: rgb(64 95 144);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(214 227 255);
  --color-on-primary-container: rgb(39 71 119);
  --color-secondary: rgb(48 98 140);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(206 229 255);
  --color-on-secondary-container: rgb(15 74 115);
  --color-tertiary: rgb(57 105 59);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(186 240 182);
  --color-on-tertiary-container: rgb(33 80 37);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(249 249 255);
  --color-on-background: rgb(25 28 32);
  --color-surface: rgb(249 249 255);
  --color-on-surface: rgb(25 28 32);
  --color-surface-variant: rgb(224 226 236);
  --color-on-surface-variant: rgb(68 71 78);
  --color-outline: rgb(116 119 127);
  --color-outline-variant: rgb(196 198 207);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(46 48 54);
  --color-inverse-on-surface: rgb(240 240 247);
  --color-inverse-primary: rgb(169 199 255);
  --color-primary-fixed: rgb(214 227 255);
  --color-on-primary-fixed: rgb(0 27 61);
  --color-primary-fixed-dim: rgb(169 199 255);
  --color-on-primary-fixed-variant: rgb(39 71 119);
  --color-secondary-fixed: rgb(206 229 255);
  --color-on-secondary-fixed: rgb(0 29 51);
  --color-secondary-fixed-dim: rgb(155 203 251);
  --color-on-secondary-fixed-variant: rgb(15 74 115);
  --color-tertiary-fixed: rgb(186 240 182);
  --color-on-tertiary-fixed: rgb(0 33 5);
  --color-tertiary-fixed-dim: rgb(159 212 156);
  --color-on-tertiary-fixed-variant: rgb(33 80 37);
  --color-surface-dim: rgb(217 217 224);
  --color-surface-bright: rgb(249 249 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(243 243 250);
  --color-surface-container: rgb(237 237 244);
  --color-surface-container-high: rgb(231 232 238);
  --color-surface-container-highest: rgb(226 226 233);
}